body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.price-input {
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.price-input-error {
  border: 2px solid red;
}

.price-info {
  display: block;
  margin-top: 10px;
}

.close-btn {
  cursor: pointer;
  color: red;
  font-weight: bold;
}
